#app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout {
    position: absolute;
    top: 3.25rem;
    right: 0rem;
    text-decoration: none;
    color: black;
}