@font-face {
    font-family: 'Proxima-Nova';
    src: url(./fonts/proximanova_regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima-Nova';
}

button {
  cursor: pointer
}

#root {
  height: 100%;
  width: 100%
}
